# Ignore .idea folder
.idea/

# Ignore the bin directory
**/bin/

# Ignore the obj directory
**/obj/

# Contains specific path
Data_reference.xml

# Ignore KCD Mod.iml
KCD Mod.iml

# Test file
oop.lua

# File for MMF
ModRepository.txt